@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 100px;
    z-index: 1000000;
    background: #e8e9ea;   
}

nav .styky {
    padding: 5px 100px;
    background: #e8e9ea;   
}

nav .styky:hover {
    background: #fff;
    color: #0a1c47;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;    
    text-transform: uppercase;
    font-weight: bold;
    color: #0a1c47;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
  text-decoration: underline;
}



nav .openMenu {
    font-size: 1.5rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #0a1c47;
}

nav .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo { 
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

/*Carrossel*/

.carousel-item img {
    width: 100%;
    height: 400px;    
    
}

.carousel-caption h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fff;
}

.carousel-caption p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

/*Conteudo da home*/

.conteudo {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.conteudo-bx {
    padding-right: 30px;
}

.conteudo-bx .t-1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #0a1c47;
}

.conteudo-bx p {
    font-size: 18px;
    color: #97999a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}

/*Noticias*/
.container h1 {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #0a1c47;
}
.card {
    display: grid;   
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}

.card h3 {
    margin-bottom: 2rem;
    color: #0a1c47;
}

.card img {    
    height: 400px;
    
}

.card > div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: #0a1c47;
    padding: 0.8rem 1.8rem;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    color: #fff;
}

/*noticias-blog*/

.container-blog h1 {
  text-align: center;
  padding: 100px;
  margin-bottom: 10px;
  color: #0a1c47;
}
.card-blog {
  display: grid;   
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #d0d3d4;
  margin-bottom: 2rem;
}

.card-blog h3 {
  margin-bottom: 2rem;
  color: #0a1c47;
}

.card-blog img {    
  height: 400px;
  
}

.card-blog > div {
  padding: 2rem;
}

.card-blog:nth-child(even) img {
  order: 2;
}

.btn {
  display: inline-block;
  background: #0a1c47;
  padding: 0.8rem 1.8rem;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  color: #fff;
}


/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: #0a1c47;
    color: white;    
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color:#007bb7;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  
 /*atuação home*/ 
  .intro {
    background: url(../img/bg.jpg);
    padding: 100px 0;
  }

  .container-atuacao {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .container-atuacao h1 {
    font-size: 35px;
    color: #fff;
  }

  .timeline ul {
    background: #EDF0F4;
    padding: 50px 0;  
    
  }

  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #0a1c47;
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #fff;
  }

  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }

 
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0a1c47 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #0a1c47;
  }
  
  span {
    display: block;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #0a1c47;
  }
  
  /* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #0a1c47;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0a1c47 transparent transparent;
  }
}





































@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;   
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: #0a1c47;
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }   
      
}


